# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
*.sqlite
*.db

# Virtual environments
.env
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Docker
.dockerignore
